# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.db
uploads/
processed_docs/

# Node
node_modules/
.eslintcache

# Env
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
